
.front_link {
    font-size: 18px !important;
    color: #ffffff !important;
    float: right;
    position: relative !important;
    text-decoration: none !important;
    font-family: 'Open Sans', helvetica, sans-serif, 'Helvetica Neue', arial, verdana !important;
    margin-bottom: 20px;
}

/* Spinner class style */
#spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 6px solid #808080;
    border-right: 6px solid transparent;
    animation: spinner .6s linear infinite;
}

/** Object status display icon */
[data-device=status] {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-top: -2px;
  margin-right: 4px;
  border-radius: 50%;
  background: #ededed;
  border: 1px solid #bebebe;
  text-indent: 999999px;
  overflow: hidden;
}

.forget-password-link,
.forget-password-link.x-btn-focus.x-btn-default-small {
    background: none !important;
    background-color: none !important;
    border: none !important;
}

.forget-password-link .x-btn-inner {
  color: #808080 !important;
  text-decoration: none !important;
}

/** Rounded corners */
.x-window,
.x-btn,
.rounded .x-form-text-wrap,
.rounded .x-form-trigger-wrap {
  border-radius: 4px !important;
}

.toolbar-header-style {
    background-color: #ffffff !important;
}

.x-tab-bar-default,
.x-panel-header-default {
    font-size: 12px;
    border: 1px solid #d0d0d0;
}

/** Dropdown Menu color styles */
.x-boundlist-selected,
.x-btn-focus.x-btn-default-small,
.x-boundlist-item-over,
.x-menu-item-default.x-menu-item-focus,
.x-menu-item-default.x-menu-item-active {
  border-color: #808080 !important;
  background-color: #808080 !important;
}

/*Windows header styling */
.x-window-body-default {
    border-color: #808080 !important;
}

.x-window-default {
    border-color: #808080;
}

.x-window-default {
  border-width: 0.3px !important;
}

.x-window-header-default {
  font-size: 16px !important;
  border-color: #fff !important;
  background-color: #fff !important;
}

.x-window-header-default-top {
  background-color: #fff !important;
  padding: 3px 8px 3px 8px !important;
  border-width: 0px 1px 0px 1px !important;
}

/** Center window title */
.x-window-header-title-default {
    text-align: center !important;
    color: #808080 !important;
}

/** Center fieldSet text and toggler */
.x-window {
  text-align: center;
}

/* Little icons deeper background styling */
.x-window-header-default .x-tool-img {
  background-color: #fff !important;
}

.x-tool-tool-el {
  color: #808080 !important;
  opacity: 1 !important;
}
/* Windows styling end */

/* Panel tab styling */
.x-tab-bar-default,
.x-panel-header-default-vertical,
.x-panel-header-default {
    background-image: none !important;
    background-color: #808080 !important;
}

.x-tab-button-default,
.x-tab-icon-el-default.x-tab-glyph,
.x-tab-bar-horizontal>.x-tab-bar-body-default {
    /* max-height: 22px !important; */
    font-size: 14px !important;
}

.x-tab-bar-default-bottom>.x-tab-bar-body-default {
    padding: 0px !important;
}

.x-tab-default-bottom {
    padding: 0px 5px 0px 5px;
}

.x-tab.x-tab-active.x-tab-default .x-tab-icon-el,
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #808080 !important;
}

.x-tab-focus.x-tab-default {
    outline: 0px solid #ededed !important;
}


/** Desktop specific styling */
@media screen and (min-width: 768px) {

.showthatmin {
    display: none;
}

/* Login reposition on desktop screens */
#login-1009 {
    right: 3% !important;
    left: auto !important;
    top: 25% !important;
    box-shadow: rgb(136, 136, 136) 0px 0px 6px !important;
    z-index: 19000 !important;
}

#ext-element-5 {
    display: none;
}

/* Login background image style */
.x-body {
    background-image: url("../logo/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: exclusion;
    opacity: 1;
    background-color: #fff;
    height: 100vh;
    line-height: 14px !important;
    }
}

/* Little iccons styling */
.x-panel-header-default .x-tool-tool-el {
    background-color: #808080;
}

/* All splitter background color */
.x-splitter  {
    background-color: #fff;
}

/* Front page and other Button styling */
.x-btn-default-small {
    
    background-color: #808080;
    border-color: #808080;
}

/* Button disabled color */
.x-btn.x-btn-disabled.x-btn-default-small {
    background-image: none;
    background-color: #808080;
}

/* Horizontal panel heading padding */
.x-panel-header-default-horizontal.x-header-noborder {
    padding: 0px 16px 0px 16px;
}

/* Vertical panel heading padding */
.x-panel-header-default-vertical.x-header-noborder {
    padding: 16px 0px 16px 0px;
}

/* Vertical panel heading padding */
.x-panel-header-default-vertical {
    padding: 15px 0px 15px 0px;
}

/* Main toolbar Stying */

.x-toolbar-default {
    padding: 1px 0 2px 8px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0px;
}

.x-toolbar-footer {
    background-color: #fff !important;
}

/* Button img selected styling */
.x-btn.x-btn-menu-active.x-btn-default-toolbar-small {
    border-color: #fff;
    background-image: none;
    background-color: #fff;
}

/* Button img selected styling */
.x-btn.x-btn-pressed.x-btn-default-toolbar-small {
    border-color: #fff;
    background-image: none;
    background-color: #ddd;
}

/* Button hover styling */
.x-btn-over.x-btn-default-small {
    background-color: #7f7f7f;
    border-color:  #7f7f7f;
    background-image: none;
}

.x-btn-default-toolbar-small {
    border-color: #fff;
}

/* Unselected toolbar button */
.x-btn-default-toolbar-small {
    padding: 5px 5px 5px 5px;
    border-width: 0px;
    border-style: solid;
    background-color: #fff;
}

/* Disabled button style*/
.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-image: none;
    background-color: #fff;
}

/* Divider icon background and fore color */
.x-collapse-el {
    color: #808080;
    background-color: #e0e0e0;
}

/* Icon color stylig */
.x-btn-icon-el-default-toolbar-small {
    font-size: 16px;
    height: 16px;
    color: #808080;
    line-height: 16px;
}

/* Split button icon styling */
.x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after {
    color: #808080;
}

/* Table content cell padding */
.x-grid-cell-inner {
    position: relative;
    text-overflow: ellipsis;
    padding: 2px 10px 2px;
    font-size: 11px;
}
/* Table header cell padding */

.x-column-header-inner {
    padding: 2px 10px 2px;
}

/* Panel header text color */
.x-panel-header-title-default {
    font-size: 14px !important;
    font-weight: 200;
    line-height: 20px !important;
}

.x-panel-header-title-default>.x-title-icon-wrap-default>.x-title-icon-default {
    font-size: 14px !important;
    vertical-align: middle !important;
}

.x-header>.x-box-inner,
.x-panel-header-mc>.x-box-inner,
.x-window-header-mc>.x-box-inner
{
    padding: 0px !important;
}
.x-panel-header-title-default>.x-title-icon-wrap-default>.x-title-icon-default {
    width: 14px !important;
    height: 14px !important;
    color: #ededed !important;
}

.x-panel-header-default {
 border: 0px solid #808080;
}

/** Icons box shadown styling */
.x-btn-focus.x-btn-default-toolbar-small {
        -webkit-box-shadow: #808080 0 1px 0px 0 inset,
        #808080 0 -1px 0px 0 inset,
        #808080 -1px 0 0px 0 inset,
        #808080 1px 0 0px 0 inset;
        -moz-box-shadow: #808080 0 1px 0px 0 inset,
        #808080 0 -1px 0px 0 inset,
        #808080 -1px 0 0px 0 inset,
        #808080 1px 0 0px 0 inset;
        box-shadow: #808080 0 1px 0px 0 inset,
        #808080 0 -1px 0px 0 inset,
        #808080 -1px 0 0px 0 inset,
        #808080 1px 0 0px 0 inset !important;
}

/* Dropdown icon styling */
.x-menu-item-icon-default {
    font-size: 12px;
    color: #808080;
}

a:-webkit-any-link {
    color: #808080;
    cursor: pointer;
    text-decoration: none;
}

.x-grid-header-ct {
    border: 0px solid #d0d0d0;
}

.x-column-header {
    color: #808080;
}

/* Play store image placement */
.playre {
    height: 41px;
    width: 140px;
    float: right;
    position: relative;
    margin-bottom:40px;
    margin-right: 60px;
}

/* Mobile screen state view height */
@media screen and (max-width: 768px) {
.showthat {
    display: none;
}

#stateView-1041 {
    height: 100% !important;
}

#stateView-1010 {
    height: 100% !important;
}

#tableview-1014 {
    height: 100% !important;
}

#stateView-1010-body {
    height: 100% !important;
    }

    .playre {
        display: none;
    }
}





